{% extends 'base.html.twig' %}

{% block title %}Hello SerieController!{% endblock %}

{% block body %}
 <h2>liste</h2>

    <ul>
        {% for serie in series %}
        <li>{{ serie.name }}: {{ serie.overview }} - {{ serie.genres }}</li>
        {% endfor %}

    </ul>
{% endblock %}
