{% extends 'base.html.twig' %}

{% block body %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque dolores error esse eum necessitatibus omnis quo repellat repellendus veniam. Alias assumenda cum facere fuga harum illo maiores obcaecati officiis.</p>
{% endblock %}